.howWork-cart-container {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    padding: 30px;
    /* background-color: aqua; */
}

.work-cart-container {
    display: flex;
}

.work-title {
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2.0999999046325684px;
    color: #EF9E48;
    text-align: center;
}

.work-title-2 {
    font-family: DM Sans;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -1.5px;
    text-align: center;
}