.ready-component {
    width: 100%;
    max-width: 900px;
    text-align: center;
    margin: auto;
    padding: 7% 15% 7% 15%;
}

.ready-h2 {
    font-family: DM Sans;
    font-size: 50px;
    font-weight: 700;
    line-height: 65px;
    letter-spacing: -2px;
    text-align: center;
    margin-bottom: 5%;
}